body{
    margin: 0;
    padding: 0;
}

.container{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: inline-flex;
    text-align: center;
    overflow: hidden;
}

.container div{
    padding: 12px;
    height: 900px;
    width: 600px;
    margin: 16px;
}

/* .image-content2{
    padding: 12px;
    height: 370px;
    width: 640px;
    margin: 16px;
} */